/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

//styles

.w-container {
    max-width: 1435px;
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'Inter';
}

.h2 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 4.5rem;
    color: #003C51;
}

.h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.44rem;
    color: #003C51;
}

.text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;
}

.intro {
    padding-top: 60px;
    background-color: #E6F0F3;

    &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-i-wrap {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.81rem;
        }

        &__phone {
            color: #003C51;
        }

        &__mail {
            color: #28B380;
        }

        &__copy {
            margin-left: 10px;
            cursor: pointer;
        }
    }

    &__title {
        margin-top: 75px;
        font-weight: 800;
        font-size: 5rem;
        line-height: 115%;
        text-align: center;
        color: #003C51;
    }

    &__subtitle {
        margin-top: 30px;
        text-align: center;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto 0;
        padding: 19px 32px;
        border-radius: 50px;
        background: rgb(0, 60, 81);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.81rem;
        color: #fff;
    }

    &__img {
        position: relative;
        bottom: -45px;
        margin-top: 95px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}