@import url('./reset.scss');
@import url('./slider.scss');

.container {
    max-width: 1435px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    font-family: 'Inter';
    overflow: hidden;
}

header {
    padding: 0 15px;
    background-color: #252525;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 25px;
        padding: 25px 0;
        color: #fff;
    
        &__name {
            font-size: 20px;
            background-image: linear-gradient(45deg, #FF0000, #fff);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            text-align: center;
            font-weight: bold;
        }
    
        &__wrap {
            display: flex;
            align-items: center;
            gap: 25px;
        }
    
        &__link {
            cursor: pointer;
            list-style: none;
    
            a {
                color: #fff;
                text-decoration: none;
    
                &:hover {
                    color: #3498db;
                    text-decoration: underline;
                }
            }
        }
    
        &__contacts {
            display: flex;
            align-items: center;
            gap: 25px;
    
        }
    
        &__tel {
            cursor: pointer;
    
            &:hover {
                color: #3498db;
            }
        }
    
        &__email {
            cursor: pointer;
    
            &:hover {
                color: #3498db;
            }
        }
    }
}

.main__wrap {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
    gap: 25px;

    .main__title {
        margin: 15px 0;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }

    .main__subtitle {
        font-size: 1.75rem;
        font-weight: 500;
    }

    ul {
        padding-left: 20px;
        list-style: disc;

        li {
            margin-top: 10px;
            font-size: 20px;

            &::marker {
                color: red;
            }

        }
    }

    .inner__img {
        max-width: 500px;
        width: 100%;
        margin: 25px auto 0;

        img {
            padding: 5px;
            cursor: pointer;
        }

        .draggable {

            height: 80px;
        }
    }

    .slider-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 50px 0;

        .slider-for {
            max-width: 1000px;
            width: 100%;
            cursor: pointer;

            img {
                margin: 0 auto;
                max-height: 400px;
                height: 100%;
            }
        }
    }

}

.zoom-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    /* Чтобы было поверх всего */
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70vh;
}

.zoomed-image {
    max-width: 90%;
    max-height: 90%;
    border: 3px solid white;
}

.close-zoom {
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
    transform: rotate(45deg);
}

@media screen and (max-width: 650px) {
    .header {
        flex-direction: column;
        gap: 15px;
    }

    .header__wrap {
        flex-direction: column;
    }

    .close-zoom {
        margin-right: 0;
        width: 25px;
    }
}

@media screen and (max-width: 364px) {
    .header__contacts {
        flex-direction: column;
        gap: 15px;
    }
}