/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.w-container {
  max-width: 1435px;
  padding: 0 15px;
  margin: 0 auto;
  font-family: "Inter";
}

.h2 {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4.5rem;
  color: #003C51;
}

.h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.44rem;
  color: #003C51;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 140%;
  color: #505050;
}

.block {
  display: block !important;
}

.active {
  background: #003C51 !important;
  color: #fff !important;
}

.none {
  display: none;
}

.intro {
  padding-top: 60px;
  background-color: #E6F0F3;
}
.intro-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-head-i-wrap {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.81rem;
}
.intro-head__phone {
  color: #003C51;
}
.intro-head__mail {
  color: #28B380;
}
.intro-head__copy {
  margin-left: 10px;
  cursor: pointer;
}
.intro__title {
  margin-top: 75px;
  font-weight: 800;
  font-size: 5rem;
  line-height: 115%;
  text-align: center;
  color: #003C51;
}
.intro__subtitle {
  margin-top: 30px;
  text-align: center;
}
.intro__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  padding: 19px 32px;
  border-radius: 50px;
  background: rgb(0, 60, 81);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.81rem;
  color: #fff;
}
.intro__img {
  position: relative;
  bottom: -45px;
  margin-top: 95px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.advantages {
  padding: 100px 0;
}
.advantages__wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.advantages__i-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.advantages__items {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.advantages__items .item {
  background-color: #F7F7F7;
  padding: 32px;
}
.advantages__items .item__title {
  margin-top: 17px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.81rem;
  color: #003C51;
}
.advantages__items .item__text {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #505050;
}
.advantages__items .item__link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #28B380;
}
.advantages__items .item img {
  width: 25px;
}
.advantages .first {
  padding: 56px;
  background-image: url(../img/cubes.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.advantages .text {
  margin-top: 24px;
}
.advantages-decision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 95px;
}
.advantages-decision__items .item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.advantages-decision__items .item__subtext {
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  color: #9A9A9A;
}
.advantages-decision__items .item__link {
  color: #28B380;
}
.advantages-decision__items .item .text {
  font-weight: 500;
}
.advantages-decision__block:nth-child(1) {
  max-width: 600px;
  width: 100%;
}

.functionality {
  padding: 100px 0;
}
.functionality .tabs__controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 60px 0 40px;
}
.functionality .tabs__controls .btn {
  padding: 16px 32px;
  border-radius: 50px;
  background: #F3F3F3;
  color: #4A4A4A;
  text-decoration: none;
}
.functionality .tabs-items .tabs-item__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.functionality .tabs-items .tabs-item .content {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
  color: #505050;
}
.functionality .tabs-items .tabs-item img {
  margin-top: 60px;
}

.banner {
  padding: 50px 0;
}
.banner__wrap {
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px 40px;
  background-color: #23CB8D;
  border-radius: 24px;
}
.banner__img {
  position: absolute;
  top: -65px;
  left: 70px;
}
.banner__block {
  margin-left: auto;
  color: #fff;
  max-width: 63%;
}
.banner__title {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4.5rem;
}
.banner__text {
  margin-top: 20px;
  color: #fff;
}
.banner__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 19px 32px;
  border-radius: 50px;
  background: rgb(0, 60, 81);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.81rem;
}

.infrastructure {
  margin-top: 100px;
  padding-bottom: 100px;
  background-color: #F7F7F7;
}
.infrastructure__wrap {
  display: flex;
  align-items: flex-end;
  gap: 100px;
}
.infrastructure__wrap .h2 {
  margin-bottom: 75px;
}
.infrastructure__i-wrap {
  display: flex;
  flex-direction: column;
}
.infrastructure__img {
  max-width: 500px;
  width: 100%;
}
.infrastructure__items {
  display: grid;
  grid-template-columns: 8fr 9fr;
  margin-top: 60px;
}
.infrastructure__items .item {
  margin-top: 16px;
}
.infrastructure__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #22AB79;
  font-weight: 700;
}
.infrastructure__wrap-btn {
  margin-top: 45px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.infrastructure__table {
  margin-top: 60px;
  text-align: left;
  font-family: "Roboto";
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
  border: 1px solid #EEEDED;
  border-radius: 24px;
  border-spacing: 0em;
  overflow: hidden;
}
.infrastructure__table__title {
  padding: 16px;
  font-weight: 700;
  background-color: #E6F0F3;
}
.infrastructure__table__head {
  padding: 16px;
  font-weight: 700;
}
.infrastructure__table__text {
  padding: 16px;
  font-weight: 400;
}
.infrastructure__table__text:nth-child(3) {
  text-align: center;
}
.infrastructure__table__text:nth-child(4) {
  text-align: center;
}
.infrastructure__table__text:nth-child(5) {
  text-align: center;
}
.infrastructure__table .bg-white {
  background-color: #fff;
}
.infrastructure__documentation {
  margin-top: 65px;
}
.infrastructure__documentation__wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px;
}
.infrastructure__documentation__item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  border-radius: 12px;
  font-size: 1.13rem;
  font-weight: 600;
  line-height: 2.25rem;
}
.infrastructure__documentation__item a {
  color: #22AB79;
  text-decoration: none;
}

.footer-wrap {
  padding: 125px 0;
}
.footer-wrap .offer {
  display: flex;
  justify-content: space-between;
  gap: 115px;
}
.footer-wrap .offer__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-wrap .offer__about__contacts {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.81rem;
}
.footer-wrap .offer__about__contacts .phone {
  color: #003C51;
}
.footer-wrap .offer__about__contacts .mail {
  margin-top: 10px;
  color: #28B380;
}
.footer-wrap .offer__about__contacts .copy {
  margin-left: 10px;
}
.footer-wrap .offer__about__contacts .adress {
  margin-top: 15px;
  font-weight: 400;
}
.footer-wrap .offer__form .input {
  margin-bottom: 27px;
  padding: 20px 10px;
  font-size: 1.25rem;
  font-weight: 400;
  resize: vertical;
  color: #6F8787;
  width: 100%;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 5px;
}
.footer-wrap .offer__form .input::-moz-placeholder {
  color: #767676;
}
.footer-wrap .offer__form .input::placeholder {
  color: #767676;
}
.footer-wrap .offer__form .input:focus {
  outline: none;
}
.footer-wrap .offer__form .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  font-family: "Roboto";
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.44rem;
  border-radius: 50px;
  background: #003C51;
}/*# sourceMappingURL=styles.css.map */